*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #caf0f8;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;
    max-width: 1200px;
    height: 80px;
    margin-top: 0vh;
}
main header{
    width: 100%;
    height: 14vh;
    background-color: #000855;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
header img{
    width: 300px;
    height: auto;
}
main nav{
    width: 100%;
    height: 7vh;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
main nav ul{
    float: left;
    list-style: none;
    width: 100%;
}
main nav ul li{
    display: inline;
}
main ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 7vh;
    /*backgroud-color: #000; */
    padding: 2vh 7%;
    margin-left: 1.5%;
    transition: all 1s;
}
main ul li a:hover {
    color: #f8f8f8;
    background-color: rgba(0, 255, 0, 0.233);
}
main section {
    width: 100%;
    height: 75vh;
    background-color: #fffc56;
}
main section h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
}
main section img{
    width: 100%;
    height: auto;
}
main section article{
    width: 40%;
    height: 75vh;
    float: left;
    margin-left: 4%;
    margin-top: 10vh;
}
main section article h1{
    margin-top: 0vh;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
     /* margin-top: 0vh; */
     color: #000;
}
article div{
    width: 400px;
    height: auto;
    background: #fffc56;
    display: flex;
    justify-content: center;
    align-items: center;
}
article div input{
    width: 90%;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    outline: none;
    font-family: sans-serif;
    font-size: 1.2em;
    text-indent: 10px;
}
main section article button{
    width: 60%;
    margin-left: 20%;
    margin-top: 2vh;
    height: 6vh;
    border:5px;
    background: #7aff52;
    color: #ffffff;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    cursor: pointer;
}
main footer{
    width: 100%;
    height: 6vh;
    background-color: #000;
    margin-top: 0vh;
}
main footer h3{
    text-align: center;
    color:#555;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 6vh;
    font-size: 1.0em;
    width: 100%;
    float: left;
}